@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

img{
    width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 2rem;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

html{ 
    scroll-behavior: smooth;

    font: 400 1.2rem 'Poppins';
}

body{
    min-height: 100%;
    background-color: var(--light-purple);
}

.container{
    max-width: 1169.14px;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 1rem;
}

.section{
    max-width: 100%;
}

#header{
    max-width: 100%;
    background-color: var(--purple-bg);
}

#header nav{

    padding: 4rem 0 1rem 0;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.logo{
    background: url('assets/logo.svg') no-repeat center/cover;

    width: 10.0625rem;
    height: 2.4375rem; 
}

.menu{
    width: 21.75rem;
}

.menu ul{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.menu ul li{
    position: relative;
}

.menuList{
    font: 400 1.125rem 'Roboto';
    color: var(--white);
    padding: 0.5rem;
}

.menuList::after{
    content: '';
    width: 3px;
    height: 0;

    background-color: var(--green);

    position: absolute;
    left: 0;
    top:0;

    transition: 0.2s ease-in;

}

.menuList:hover,
.active{
    font: 500 1.125rem 'Roboto';
}

.menuList:hover::after,
.active::after{
    height: 100%;
    transition: 0.2s ease-in;    

}

.search,
.search form{
    display: flex;
    align-items: center;
    justify-items: center;
}

#inputSearch{
    background-color: var(--dark-bg);
    color: var(--light-purple);

    width: 8rem;
    height: 2rem;

    border: none;

    padding: 0 1.5rem;

    border-radius: 0.2rem 0 0 0.2rem;
    
}

#inputSearch::placeholder{
    color: var(--light-purple);
}

#buttonSearch{
    width: 3rem;
    height: 2rem;

    background-color: var(--button-bg);
    color: var(--light-purple);

    border: none;
    border-radius: 0 0.2rem 0.2rem 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonSearch img{
    width: 1.2rem;
    height: 1.1rem;
}

.section{
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.bgColor{
    background-color: var(--purple-bg);
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.5rem;
}

.banner::after{
    content: '';
    width: 100%;
    height: 6px;

    background-color: var(--green);

    position:absolute;
    bottom: 0;
    left: 0;
}

.textBanner{
    max-width: 30rem;
    font: 400 1.125rem 'Poppins';
}

.textBanner h1{
    font: 700 1.5rem 'Poppins';
    color: var(--button-bg);
}

.textBanner p{
    color: var(--white);
    margin: 1rem 0;
}

.textBanner a{
    color: var(--button-bg);
    position: relative;
}

.textBanner a::after{
    content: url('assets/arrow-right.svg');

    position:absolute;
    left:115px;
    top: 4px;
}

.imgBanner{
    max-width: 32rem;
}